<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<div class="wrapper_contents">
    <form class="forms" action="makeProject" method="post">
        <h1 class="h1informs">Create a new Project</h1>
        <label class="label">Title:</label> <br>
        <input type="text" name="title" required minlength="1" maxlength="20" placeholder="Max 20 characters"><br><br>
        <label class="label">Description:</label><br>
        <input type="text" name="descriptions" required minlength="1" maxlength="1000"
               placeholder="Max 1000 characters"><br><br>
        <label class="label">Start Date:</label><br>
        <input type="date" name="startDate" required placeholder="YYYY-MM-DD"><br>
        <label class="label">Deadline:</label><br>
        <input type="date" name="deadline" required placeholder="YYYY-MM-DD"><br>
        <div class="submit"><input type="submit" value="Create project"></div>
    </form>
    <div class="push"></div>
</div>
<div class="footer">
    <footer th:replace="fragments/footer.html"></footer>
</div>
</body>
</html>