<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1 class="h1outofforms">Detailed view of Project</h1>
<div class="wrapper_contents">
    <h2 class="projecth2">Project</h2>
    <div class="detailedproject">
        <p class="topviewproject">
            <span class="projectdetailtitle" th:text="${project.title}"></span>
            <span class="projectdetailemail" th:text="${project.userEmail}"></span></p>
        <div class="projectdetaildate">
            <span class="projectdetaildatetext">Start date: </span><span class="projectdetailstartdate"
                                                                         th:text="${project.startDate}"></span> <br><br>
            <span class="projectdetaildatetext">Deadline: </span><span class="projectdetaildeadline"
                                                                       th:text="${project.deadline}"></span>
        </div>

        <p class="projectdetaildescription"><span th:text="${project.description}"></span></p>
        <p class="projectdetailestimatedtime">Estimated hours: <span th:text="${tasktime}"></span></p>
    </div>
    <div class="wrapper">
        <tr th:each="task : ${task}">
            <div class="displaytask">
                <span class="tasktitle" th:text="${task.title}"></span>
                <p class="tasktime">Expected hours: <span class="taskestimatedtime"
                                                          th:text="${task.estimatedtime}"></span></p>
                <div class="taskdate">
                    <span>Start date: </span><span class="taskstartdate" th:text="${task.startDate}"></span><br>
                    <span>Deadline: </span><span class="taskdeadline" th:text="${task.deadline}"></span>
                </div>
                <div>
                    <button class="taskprojectdetailbutton"><a th:href="@{'task/' + ${task.taskID}}">View Details</a>
                    </button>
                </div>
            </div>
        </tr>
    </div>
    <div class="push"></div>
</div>
<div class="footer">
    <footer th:replace="fragments/footer.html"></footer>
</div>
</body>
</html>