html, body {
    position: relative;
    height: 100%;
}

.footer {
    bottom: 0px;
    width: 100%;
}

.foot {
    display: flex;
    width: 100%;
    line-height: 1.3;
    font-weight: bold;
}

.alphafooter {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 48px;
    height: 125px;
    width: 240px;
    filter: invert(1);
}

.ul-footer-alpha {
    list-style: none;
    align-items: center;
    width: 200px;
    margin-left: 0px;
}

.ul-alpha-contact {
    top: 0;
    bottom: 0;
    left: 33%;
    list-style: none;
    display: flex;
    width: 500px;
}

.item-flex {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: max-content;
}

.ul-footer-gruppe5 {
    top: 0;
    bottom: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    right: 2%;
}

.p-footer {
    color: white;
}

@media (min-width: 200px) {
    ul {
        grid-auto-flow: column;
    }
}

a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}