
a {
    text-decoration: none;
}

.nav {
    font-family: monospace;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    height: 60px;
}
ul {
    background: transparent;
    list-style: none;
    margin: 0;
    padding-left: 0;

}

li {
    color: #fff;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #fff;
}

li:hover {
    background: #c85f7b ;
    cursor: pointer;
}
.headmenu {
    width: 150px;
    text-align: center;
    font-size: 1.5em;
    background: transparent;
}

.menulogout {
    width: 150px;
    text-align: center;
    float: right;
    font-size: 1.5em;
}

ul li ul {
    background: transparent;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}
.dropdown{
    font-size: 0.7em;
    z-index: 3;
    width: 150px;
}

.subnav{
    background-color: #c85f7b;
}

.subnav:hover{
    background-color: #AC526A;

}
