html, body {
    background: url("https://cdn.discordapp.com/attachments/818814439675002951/846367835638071327/544750.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    margin: 0;
    padding-bottom: 70px;
    width: 98vw;
    height: 100vh;

}

.h1outofforms{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.0em;
    font-family: 'EB Garamond', serif;
    color: #FFFFFF;
}

.h1informs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.9em;
    font-family: 'EB Garamond', serif;
    color: #FFFFFF;
}

body{
    background-color: #f2f2f2;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap%27%27');
* {
    font-family: 'EB Garamond', serif;
    color: #FFFFFF;
    margin: 0;
}

::placeholder {
    color: #FFFFFF;
    opacity: 80%;
}
.forms{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    padding: 25px;
}

.line{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.label {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #FFF;
}

input[type=text]{
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    font-size: 1em;
    color: #FFF;
}

input[type=date]{
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    font-size: 1em;
    color: #FFF;
}

input[type=number]{
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    font-size: 1em;
    color: #FFF;
}

input[type=password]{
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    font-size: 1em;
    color: #FFF;
}

input[type=email]{
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    font-size: 1em;
    color: #FFF;
}

input[type=submit]{
    background: transparent;
    color: #FFFFFF;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0;
    padding: 10px 30px;
    border: 2px solid #FFFFFF;
    text-align: center;
}

.submit {
    text-align: center;
}

.signupparagraph{
    font-family: 'EB Garamond', serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: .8em;
    color: #FFF;
    text-align: center;
}

.signuplink{
    color: cyan;
}

.signupspan{
    font-family: 'EB Garamond', serif;
}
.loginfail {
    color: #f2f2f2;
    margin-bottom: 30px;
    font-family: 'EB Garamond', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1frontpage{
    font-family: 'EB Garamond', serif;
    font-size: 3.0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.alertemoji{
    font-size: 70px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: #16162f;
    color: #FFF;
}

.select {
    display: inline-block;
    text-align: left;
    padding: 10px;
    height: 40px;
    width: 350px;
    margin: 10px 0;
    font-size: 0.8em;
    background: transparent;
    color: #FFF;
}

.wrapper_contents {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
}

.footer, .push {
    height: 142px;
}

/*display allusers */
.displayallusers {
    margin: 12px;
    margin-top: 48px;
}

.deleteuser {
    position: relative;
    color: #ffffff;
    width: 100%;
    height: 200px;
}

.profilepic{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
}


.profileText {
    font-size: 1.5em;
}

.wrapper{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 98vw;
}

/* view projects */
.displayproject {
    position: relative;
    color: #ffffff;
    border-style: double;
    width: 41%;
    height: 200px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

/*displayallusers*/
.displayallusers {
    margin: 12px;
    margin-top: 48px;
}



/*delete users*/
.deleteuser {
    position: relative;
    color: #ffffff;
    width: 100%;
    height: 200px;
}

.deleteform {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: max-content;
    text-align: center;
    background: rgba(0,0,0,.5);
    padding: 25px;
}

.useremail {
}

.wrapper{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 98vw;
}

.wrapper_contents {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
}

.footer, .push {
    height: 142px;
}

.title{
    font-size: 2.5em;
    margin-top: 24px;
    margin-left: 24px;
}

.email{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #dadde1;
    font-size: 1.0em;
    margin-top: 24px;
    margin-left: 24px;
    top:3px;
}

.startdate {
    font-size: 1.0em;
    text-align: right;
}

.deadline{
    font-size: 1.0em;
}

.topviewproject{

}

.date {
    position: absolute;
    bottom: 40%;
    left: 74%;
}

.description{
    font-size: 1.0em;
    margin-top: 24px;
    margin-left: 24px;
    width: 28vw;
    height: 8px;
    word-break: break-word;
}

.time {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 1.0em;
    margin-top: 24px;
    margin-left: 24px;
    top:8px;
    left: 0;
    right: 0;
}
.detailbutton{
    position: absolute;
    left: 74%;
    bottom: 5%;
    background: transparent;
    color: #FFFFFF;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.0em;
    border: 2px solid #FFFFFF;
    text-align: center;

}

/* Detailed project */

.projecth2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.0em;
    font-family: 'EB Garamond', serif;
    color: #FFFFFF;
    padding: 14px 16px;
}

.detailedproject {
    position: relative;
    color: #ffffff;
    border-style: double;
    width: 80vw;
    min-height: 20vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.projectdetailtitle{
    font-size: 2.5em;
    margin-top: 24px;
    margin-left: 24px;
}

.projectdetailemail{
    font-size: 1.2em;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #dadde1;
    margin-top: 24px;
    margin-left: 24px;
    top:3px;
}

.projectdetaildatetext {
    font-size: 1.2em;
}

.projectdetaildate {
    position: absolute;
    bottom: 40%;
    left: 80vw;
    font-size: 1.2em;
}

.projectdetailstartdate {
    font-size: 1.2em;
}

.projectdetaildeadline {
    font-size: 1.2em;
}

.topviewproject{
}

.projectdetaildate {
    font-size: 1.2em;
    position: absolute;
    bottom: 30%;
    left: 80%;
}

.projectdetaildescription{
    font-size: 1.2em;
    margin-top: 24px;
    margin-left: 24px;
    border-color: #ffffff;
    width: 60vw;
    height: fit-content;
    overflow: auto;
}

.projectdetailestimatedtime {
    font-size: 1.2em;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    margin-top: 24px;
    margin-right: 24px;
    top:8px;
    left: 80%
}

/*Task*/
.taskwrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 98vw;
}

.displaytask {
    position: relative;
    color: #ffffff;
    border-style: double;
    width: 30%;
    height: 120px;
    margin-left: 32px;
    margin-bottom: 32px;
    overflow: hidden;
}

.tasktitle{
    font-size: 2.0em;
    margin-top: 24px;
    margin-left: 24px;
}

.taskemail{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #dadde1;
    font-size: 1.0em;
    margin-top: 24px;
    margin-left: 24px;
    top:3px;
}

.taskstartdate {
    font-size: 1.0em;
    text-align: right;
}

.taskdeadline{
    font-size: 1.0em;
}

.taskdate {
    position: absolute;
    bottom: 40%;
    left: 60%;
}

.taskdescription{
    font-size: 1.0em;
    margin-top: 24px;
    margin-left: 24px;
    width: 20vw;
    height: 8px;
    word-break: break-word;
}

.tasktime {
    position: absolute;
    color: #FFFFFF;
    font-size: 1.0em;
    left: 60%;
    top: 10%;
}

.taskprojectdetailbutton{
    position: absolute;
    left: 60%;
    bottom: 5%;
    background: transparent;
    color: #FFFFFF;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.0em;
    border: 2px solid #FFFFFF;
    text-align: center;
}

.taskdetailbutton{
    position: absolute;
    left: 74%;
    bottom: 5%;
    background: transparent;
    color: #FFFFFF;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.0em;
    border: 2px solid #FFFFFF;
    text-align: center;
}