
html, body {
    background: url("https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
}

h1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Roboto;
    color: #FFFFFF;
}

body{
    background-color: #f2f2f2;
    margin: 0px;
}

.displaytext {
    border: 1px solid black;
}

* {
    font-family: Roboto;
}

.forms{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    padding: 100px;
}

.singupbuttonform{
    padding: 100px;
}

.line{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

label{
    font-family: sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: .8em;
    color: #FFF;
}

input[type=text]{
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    color: #FFF;
}

input[type=date]{
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    color: #FFF;
}

input[type=password]{
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    color: #FFF;
}

input[type=email]{
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    color: #FFF;
}

input[type=submit]{
    background: transparent;
    color: #FFFFFF;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0;
    padding: 10px 30px;
    border: 2px solid #FFFFFF;
}

.submit{
    text-align: center;
}

.createusersubmit{
    text-align: center;
}

.loginfail {
    color: #f2f2f2;
    margin-bottom: 30px;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;


}
.alertemoji{
    font-size: 70px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

}
