<!DOCTYPE html>
<html lang="en" xmlns:mailto="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>
    <div class="foot">
        <img src="https://media.alpha-solutions.com/da//~/media/alphawebsite2019/ogimages/alpha-solutions---ogimage.ashx" alt="Alpha Solutions logo">
        <p class="p-footer" >KØBENHAVN<br>
            Alpha Solutions<br />
            Gothersgade 14, 4. sal<br />
            1123 København K<br />
            Danmark<br /></p>
        <ul class="ul-footer-alpha">
            <li><a href="https://www.alpha-solutions.com/da%22%3EHjemmeside"> Alpha Solutions</a></li>
            <li><a href="mailto:cph@alpha-solutions.com">Email</a></li>
            <li><a href="tel:+45 70 20 65 38">Telefon</a></li>

        </ul>
        <ul class="ul-footer-gruppe5">
            <li> <a href="sebu12e5@stud.kea.dk">sebu12e5@stud.kea.dk</a></li>
            <li> <a href="kevi01u4@stud.kea.dk">kevi01u4@stud.kea.dk</a></li>
            <li> <a href="simo12r3@stud.kea.dk">simo12r3@stud.kea.dk</a></li>
            <li> <a href="oliv025r@stud.kea.dk">oliv025r@stud.kea.dk</a></li>
        </ul>
    </div>

</footer>

</body>
</html>