<footer class="footer">
    <div class="foot">
        <img class="alphafooter"
             src="https://media.alpha-solutions.com/da//~/media/alphawebsite2019/ogimages/alpha-solutions---ogimage.ashx"
             alt="Alpha Solutions logo">
        <ul class="ul-footer-alpha">
            <li><p class="p-footer">KØBENHAVN<br>
                Alpha Solutions<br/>
                Gothersgade 14, 4. sal<br/>
                1123 København K<br/>
                Danmark<br/></p></li>
        </ul>

        <ul class="ul-alpha-contact">
            <li class="item-flex"><a href="https://www.alpha-solutions.com/da">alpha-solutions.com</a></li>
            <li class="item-flex"><a href="mailto:cph@alpha-solutions.com">cph@alpha-solutions.com</a></li>
            <li class="item-flex"><a href="tel:+45 70 20 65 38">+4570206538</a></li>
        </ul>

        <ul class="ul-footer-gruppe5">
            <li class="item-flex"><a href="seba217i@stud.kea.dk">seba217i</a></li>
            <li class="item-flex"><a href="kevi01u4@stud.kea.dk">kevi4196</a></li>
            <li class="item-flex"><a href="simo12r3@stud.kea.dk">simo35g4</a></li>
            <li class="item-flex"><a href="oliv025r@stud.kea.dk">oliv052r</a></li>
        </ul>
    </div>
</footer>

