<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="main.css">
<header>
    <a href="/">
        <link rel="icon" href="https://studerendeonline.dk/images/dynamic/company/logo/74944/?s=s" type="image"/>
    </a>
    <nav class="nav">
        <ul>
            <li class="rightnav"><a th:href="@{/}">Front Page</a></li>
            <li><a th:href="@{project}">View Projects</a></li>
            <li><a th:href="@{newProject}">Create Project</a></li>
        </ul>
    </nav>
    </ul>
</header>
</html>