<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="main.css">
<link rel="stylesheet" th:href="header.css">
<link rel="stylesheet" th:href="footer.css">

<header>
  <a href="/">
    <link rel="icon" href="https://studerendeonline.dk/images/dynamic/company/logo/74944/?s=s" type="image"/>
  </a>


  <td th:switch="${roleID}">
    <span th:case="'3'"><nav class="nav">
    <ul>
      <li class="leftnav"><a th:href="@{user}">Profile</a></li>
      <li><a th:href="@{newProject}">Create Project</a></li>
      <li><a th:href="@{allProjects}">View all Projects</a></li>
      <li><a th:href="@{selectProject}">Assign Tasks to Project</a></li>
      <li><a th:href="@{task}">View Task</a></li>
      <li><a th:href="@{newTask}">Create Task</a></li>
      <li><a th:href="@{newRoles}">Assign Roles</a></li>
      <li><a th:href="@{selectTask}">Assign Task</a></li>
      <li><a th:href="@{allUsers}">View All Users</a></li>
      <li><a th:href="@{delete}">Delete Users</a></li>
      <li><a th:href="@{logout}">Logout</a></li>
    </ul>
  </nav></span>


    <span th:case="'2'"><nav class="nav" >
    <ul>
      <li class="leftnav"><a th:href="@{user}">Profile</a></li>
      <li><a th:href="@{project}">View Projects</a></li>
      <li><a th:href="@{newProject}">Create Project</a></li>
      <li><a th:href="@{selectProject}">Assign Tasks to Project</a></li>
      <li><a th:href="@{task}">View Task</a></li>
      <li><a th:href="@{newTask}">Create Task</a></li>
      <li><a th:href="@{selectTask}">Assign Task</a></li>
      <li><a th:href="@{logout}">Logout</a></li>
    </ul>
  </nav></span>


    <span th:case="'1'" ><nav class="nav">
    <ul>
      <li class="leftnav"><a th:href="@{user}">Profile</a></li>
      <li><a th:href="@{project}">View Project</a></li>
      <li><a th:href="@{task}">View Task</a></li>
       <li><a th:href="@{logout}">Logout</a></li>
    </ul>
  </nav></span>
  </td>
</header>
</html>