<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1 class="accountText">Account</h1>

<div class="container">
  <p class="text">E-Mail: <span th:text="${user.getUserEmail}"> </span></p>
  <p class="text">Password: <span th:text="${user.getUserPassword}"> </span></p>
  <p class="text">Role: <span th:text="${user.getRoleName}"> </span></p>
</div>

  <form action="/deleteAccount" method="post">
    <div class="deletebutton">
      <p class="text"> Delete Account: <pre> <input type="text" required placeholder="Account Name" th:name="accountName"> </pre> <br>
      <input type="submit" value="Delete">
    </div>
  </form>
</body>
</html>