<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1>Overview of all registered users</h1>
<div class="wrapper_contents">
  <div class="flex-wrapper">
    <div class="container">The content>
      <div class="flex-container">
        <div class="forms">
          <tr th:each="user : ${allusers}">
            <div>
            <p>Email: <span th:text="${user.userEmail}"> </span></p>
            <p>Password: <span th:text="${user.userPassword}"> </span></p>
            </div>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>
</div>
<div class="footer">
  <footer th:replace="fragments/footer.html"></footer>
</div>
</body>
</html>