<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Select Task and User</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
  <div class="wrapper_contents">
  <form class="forms" action="assignTask" method="post">
    <h1>Assign Tasks to a User</h1>
      <label class="label">Task:</label><br>
      <select class="select" name="taskID"><br>
      <option class="option" th:each="task : ${alltasks}" th:value="${task.taskID}" th:text="${task.title}">
      </option>
    </select><br><br>
    <label class="label">User:</label><br>
    <select class="select" name="useremail"><br>
      <option class="option" th:each="user : ${allusers}" th:value="${user.userEmail}" th:text="${user.userEmail}">
      </option>
    </select><br><br>
    <div class="submit">
      <input type="submit" value="Confirm Task">
    </div>
  </form>
  <div class="push"></div>
</div>
<div class="footer">
  <footer th:replace="fragments/footer.html"></footer>
</div>
</body>
</html>