<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Select Task and Project</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1>Assign Tasks to a Project</h1>
<div class="wrapper_contents">
  <form class="forms" action="assignProject" method="post">
    <label class="label">Project:</label><br>
    <select class="select" name="projectID"><br>
      <option class="option" th:each="project : ${allprojects}" th:value="${project.projectID}" th:text="${project.title}">
      </option>
    </select><br><br>
    <label class="label">Task:</label><br>
    <select class="select" name="taskID"><br>
      <option class="option" th:each="task : ${alltasks}" th:value="${task.taskID}" th:text="${task.title}">
      </option>
    </select>
    <div class="submit">
      <input type="submit" value="Confirm Task">
    </div>
  </form>
  <div class="push"></div>
</div>
<div class="footer">
  <footer th:replace="fragments/footer.html"></footer>
</div>
</body>
</html>