<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1>Delete User</h1>
<div class="wrapper_contents">
    <form class="forms" action="deleteUser" method="post">
        <div class="deletebutton">
            <select name="Delete User">
                <option th:each="user : ${allusers}" th:value="${user.userEmail}" th:text="${user.userEmail}">
                </option>
            </select>
        </div>
        <div>
            <input type="submit" value="Delete User">
        </div>
    </form>
    <div class="push"></div>
</div>
<div class="footer">
    <footer th:replace="fragments/footer.html"></footer>
</div>
</body>
</html>