<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<div>
 <form class="forms" action="makeProject" method="post">
    <h1>Create a new Project</h1>
    <label>Title:</label> <br>
    <input type="text" name="title"><br>
    <label>Description:</label><br>
    <input type="text" name="descriptions"><br>
    <label>Start Date:</label><br>
    <input type="date" name="startDate"><br>
    <label>Deadline:</label><br>
    <input type="date" name="deadline"><br>
     <input type="submit" value="Create project">
</form>
</div>
<footer th:replace="fragments/footer.html"> </footer>
</body>
</html>