<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register Account</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<div>
<form class="createuser" action="/makeUser" method="post">
  <h1>Create User</h1>
  <label> E-mail: </label> <br>
  <input type="text" name="userEmail"/><br>
  <label> Password: </label> </br>
  <input type="Password" name="userPassword"/><br>
  <input type="submit" value="Create user">
</form>
</div>
</body>
<footer th:replace="fragments/footer.html"> </footer>
</html>