<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Account</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1>Assign Role to the User</h1>
<form action="assignRoles" method="post">
    <div>
        <select name="roleID">
            <option value="1">Software Developer</option>
            <option value="2">Manager</option>
        </select>
    </div>



    <div>
        <select name="useremail">
            <option th:each="user : ${allusers}" th:value="${user.userEmail}" th:text="${user.userEmail}"> test
            </option>
        </select>
    </div>


    <div>
        <input type="submit" value="Confirm Roles">
    </div>

</form>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>