<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Account</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1>Assign Role to the User</h1>
<form action="assignRoles" method="post">
    <div>
        <select name="roleID">
            <option value="1">Manager</option>
            <option value="2">Software Developer</option>
        </select>
    </div>

    <div>
        <select name="userEmail">
            <option value="gg@gmail.com">Oliver</option>
            <option value="bg@gmail">Kevin</option>
        </select>
    </div>

    # TODO Array som gå igennem user database så vi ikke skal hardcode alle sammen<select th:field="*{useremail}"><option th:value="'M'" th:text="Male"></option><option th:value="'F'" th:text="Female"></option></select>



    <input type="submit" value="Confirm Roles">
    </div>

</form>
<footer th:replace="fragments/footer.html"> </footer>
</body>
</html>