<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DoTask</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<div>
<form class="forms" action="makeTask" method="post">
        <h1>Create a new Task</h1>
        <label class="label">Title:</label> <br>
        <input type="text" name="title"><br>
        <label class="label">Description:</label><br>
        <input type="text" name="descriptions"><br>
        <label class="label">Start Date:</label><br>
        <input type="date" name="startDate"><br>
        <label class="label">Deadline:</label><br>
        <input type="date" name="deadline"><br>
        <input type="submit" value="Create Task">
    </form>
</form>
</div>
<footer th:replace="fragments/footer.html"> </footer>
</body>
</html>