<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="footer.css">
<link rel="stylesheet" th:href="main.css">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frontpage</title>

</head>
<body>
<div class="wrapper_contents">
    <div id="wrapper">
        <h1 class="h1frontpage">Calculation Tool K-OSS</h1>
        <form class="forms" action="login" method="post">
            <h1 class="h1informs">Login</h1>
            <label class="label">E-mail:</label><br>
            <input type="email" name="useremail"><br>
            <label class="label">Password:</label><br>
            <input type="password" name="userpassword"><br>
            <div class="submit">
                <input type="submit" value="Login">
            </div>
            <div class="line"></div>
            <div>
                <p class="signupparagraph"> not registered?
                    <a class="signuplink" href="/register">
                        <span class="signupspan">Sign up</span>
                    </a>
                </p>
            </div>
        </form>
    </div>
    <div class="push"></div>
</div>
<div class="footer">
    <footer th:replace="fragments/footer.html"></footer>
</div>
</body>
</html>