<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="main.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
    <div>
        <form class="createuser" action="/login" method="post">
            <h1> Login</h1>
            <label>Email:</label><br>
            <input type="email" name="useremail"><br>
            <label>Password:</label><br>
            <input type="password" name="userpassword"><br>
            <input type="submit" value="Login">
        </form>
    </div>
<footer th:replace="fragments/footer.html"> </footer>
</body>
</html>