<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="main.css">
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
<header th:replace="fragments/header.html"></header>
<div class="login">
    <h1>Welcome to Alpha Solutions</h1>
    <div class="loginform">
        <P>Enter login information</P>
        <form action="/login" method="post">
            <input type="email" name="useremail" required placeholder="E-Mail">
            <input type="password" name="userpassword" required placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>
</div>

<footer th:replace="fragments/footer.html"> </footer>
</body>
</html>