<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1>Overview of Projects</h1>


<div class="wrapper">
    <tr th:each="project : ${userprojects}">
        <div class="displayproject">
                <p class="topviewproject"><span class="title" th:text="${project.title}"></span>
                    <span class="email" th:text="${project.userEmail}"></span></p>
                    <div class="date">
                <p>Start date:</p><span class="startdate"  th:text="${project.startDate}"> - </span>
            <p>Deadline:</p><span class="deadline" th:text="${project.deadline}"></span></p>
        </div>
            </p>
            <p class="description"><span th:text="${project.description}"></span></p>
        </div>
    </tr>
</div>
<footer th:replace="fragments/footer.html"> </footer>
</body>
</html>