<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1>Detailed view of Project</h1>
<div class="wrapper_contents">
        <div class="detailedproject">
            <p class="topviewproject">
                <span class="detailtitle" th:text="${project.title}"></span>
                <span class="detailemail" th:text="${project.userEmail}"></span></p>
            <div class="detaildate">
                <span>Start date:</span><span class="detailstartdate"  th:text="${project.startDate}"></span> <br><br>
                <span>Deadline:</span><span class="detaildeadline" th:text="${project.deadline}"></span>
            </div>

            <p class="detaildescription"><span th:text="${project.description}"></span></p>
            <p class="detailestimatedtime">Estimated time of project in hours: <span th:text="${tasktime}"></span></p>
        </div>

    <tr th:each="task : ${task}">

        <div>
            <span class="title" th:text="${task.title}"></span>
            <span class="estimatedtime" th:text="${task.estimatedtime}"></span>
            <div class="date">
                <span>Start date:</span><span class="startdate"  th:text="${task.startDate}"></span>
                <span>Deadline:</span><span class="deadline" th:text="${task.deadline}"></span>
            </div>
            <p class="description"><span th:text="${task.description}"></span></p>
            <div> <a th:href="@{'task/' + ${task.taskID}}">View Details of the Task</a></div>
        </div>
    </tr>
    <div class="push"></div>
</div>
<div class="footer">
    <footer th:replace="fragments/footer.html"></footer>
</div>
</body>
</html>