<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1>Profile</h1>
<tr th:each="roles : ${userroles}">
    <div class="container">
        <p class="text">Work Position: <span th:text="${roles.rolename}"> </span></p>
        <p class="text">Email: <span th:text="${roles.userEmail}"> </span></p>
    </div>
</tr>

<div th:text="${allusers}">
</div>


<footer th:replace="fragments/footer.html"> </footer>
</body>
</html>