<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1 class="h1outofforms" >Detailed view of Tasks </h1>
<div class="wrapper_contents">
    <div class="wrapper">
        <div class="displayproject">
            <p class="topviewproject">
                <span class="title" th:text="${task.title}"></span>
            <div class="date">
                <p>Start date:</p><span class="startdate"  th:text="${task.startDate}"> - </span>
                <p>Deadline:</p><span class="deadline" th:text="${task.deadline}"></span></p>
            </div>
            </p>
            <p class="description"><span th:text="${task.description}"></span></p>
            <p class="estimatedtime"><span th:text="${task.estimatedtime}"></span></p>
        </div>
    </div>

    <tr th:each="user : ${user}">

        <div>
            <p>Email: <span class="useremail" th:text="${user.userEmail}"></span></p>
        </div>
    </tr>
    <div class="push"></div>
</div>
<div class="footer">
    <footer th:replace="fragments/footer.html"></footer>
</div>
</body>
</html>