<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1>Profile</h1>
<div class="displaytext">
  <p class="text-success">E-mail: <span th:text="${user.userEmail}"> </span></p>
  <p class="text-success">Password: <span th:text="${user.userPassword}"> </span></p>
</div>

<form action="/deleteAccount" method="post">
  <div class="deletebutton">
    <p class="text"> Delete Account: <pre> <input type="text" required placeholder="User Email" th:name="userEmail"> </pre> <br>
    <input type="submit" value="Delete">
  </div>
</body>
</html>