<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<h1>Profile Page</h1>

<div class="displaytext">
  <div class="profileText">
  <p class="useremail">E-mail: <span th:text="${user.userEmail}"> </span> <br/>
  <p class="uaserpassword">Password: <span th:text="${user.userPassword}"> </span><br/>
  </div>
</div>

  <footer th:replace="fragments/footer.html"> </footer>
 </body>
</html>